.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: left;
  width: 150px;
  height: 150px;
  font-size: 0.8rem;
  background-color: rgb(214, 246, 255);
  border-radius: 15px;
}
