.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: rgb(222, 237, 255);
  border-bottom: 1px solid #e0e0e0;
  padding: 0 10px;
}
