/* 공통 스타일 적용 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  background-color: rgb(22, 22, 22);
}

button {
  border: none;
  cursor: pointer;
}

/* 1. header */
header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  padding: 0 10px;
}

header p {
  font-size: 0.8rem;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileImg {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100px;
}

.profileImg:hover {
  cursor: pointer;
  box-shadow: 0px 0px 6px #5f5e5e;
  transition: 0.2s ease-in-out;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 10px;
  gap: 5px;
}

.socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 30px;
  background-color: rgb(76, 76, 76);
}

a:hover {
  background-color: rgb(0, 0, 0);
  transform: translateY(-3px);
  transition: transform 0.2s ease-in-out;
}

.socials img {
  width: 13px;
}

/* 2. 좌측 사이드바 */
aside {
  width: 16%;
  height: 100%;
  background-color: yellow;
}

/* 3. 우측 정보 섹션 */
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: blue;
  gap: 10px;
}

/* 3. 히어로(소개) 섹션 */
.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;
  margin-top: 80px; /* 일단 두고 마지막에 다 지우기 !! */
  padding: 0 50px;
  width: 95%;
  height: 300px;
  gap: 40px;
  background-color: rgb(238, 238, 238);
  border-radius: 30px;
}

.hero > img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 100%;
}

.hero > img:hover {
  transform: scale(1.03);
  box-shadow: 0 0 6px #868686;
  transition: all 0.3s ease-in-out;
}

.hero > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.hero p {
  font-size: 1rem;
  color: #868686;
}

.buttons {
  display: flex;
  margin-top: 15px;
  gap: 10px;
}

.buttons button {
  padding: 5px 10px;
  border-radius: 20px;
}

.buttons button:hover {
  transform: translateY(-2px) scale(1.03);
  transition: all 0.2s ease-in-out;
}

button.glad {
  background-color: white;
  box-shadow: 0 0 0 1px black inset;
}

button.exciting {
  color: white;
  background-color: black;
}
